<!DOCTYPE html>
<html>

<head>
  <title>Stack Overflow ranking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link href="/static/css/stacksheet.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container" style="text-align: center">
    <h1><img src="/static/resources/so_icon.svg"></img><img src="static/resources/logo.gif"></img></h1>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="/overall" class="btn btn-info btn-lg" role="button">Overall ranking</a>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="/monthly" class="btn btn-info btn-lg" role="button">Monthly ranking</a>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>